.header{
	background: var(--nav_base);
	width: 100%;
	clear: both;
	display: grid;
    grid-template-columns: auto 1fr auto;
}

.logo-barra{
	width: 280px;
	float: left;
	padding: 20px;
}

.buscar{
	display: grid;
	grid-template-columns: 1.8fr auto;
    width: 160%;
}

.icon-search{
	width: 50px;
}

.buscar form input[type="search"]{
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1.5px solid var(--botones);
    border-right: transparent;
   	width: 50%;
	height: 50px;
    transition: all 500ms ease;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}

.buscar form button{
    width: 50px;
	height: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid var(--botones);
    background-color: var(--botones);

    border-left: transparent;
	margin-left: -10px;
    position: relative;
}

.buscar form button img{
    width: 18px;
    position: relative;
    left: -3px;
}
.btn-buscar{
	background-color: var(--botones);
}


.nav-botones{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 1rem;
    place-items: center;
}

.nav-botones img{
    width: 40px;
}

.nav-botones a{
	font-size: 20px;
    border: 1.5px solid var(--nav_base);
	cursor: pointer;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem 0.5rem 1rem 0.5rem;
    text-transform: uppercase;
    transition: 400ms ease-in-out;
}

.nav-login, .nav-register{
    background: var(--botones);
}

.nav-login:hover, .nav-register:hover{
    border: 1.5px solid var(--botones);
    background: var(--nav_base);
}

/* TABLA */
.content-search{
    width: 40%;
    padding-left: 0;
    max-width: 67%;
    max-height: 200px;
    height: 50px;
    position: fixed;
    top: 70px;
    background: rgba(0,0,0,0.3);
    display: none;
    border-radius: 20px;
    margin-left: 320px;
}

.content-table{
    width: 100%;
    max-height: 200px;
    height: auto;
    background: rgba(0,0,0,0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
    border-radius: 20px;
}

.content-table table{
    width: 100%;
}

.table-body tr td a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.table-body tr td a:hover{
    background: rgba(0,0,0,0.3);
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}


@media all and (max-width: 1000px){
    .logo-barra{
        display: none;
    }
}








