@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root{
	font-family: 'Mukta', sans-serif !important;
    --base: #060930;
    --color_texto: #b0d3ff;
    /*--precio: ;*/
    --blanco: #fff;
    --botones: #f34981;
    --botones_hover: #F4ABC4;
    /*--producto: #595B83;*/
    --producto: #333456;
    --producto_hover: #595B83;
    --time-transition: 200ms ease;

}

*:focus{
    outline: none;
}

body{
    background-color: var(--base);
    color: var(--blanco);
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--producto);
}

body::-webkit-scrollbar-thumb{
    background: var(--botones);
}

main{
    margin-left: 10rem;
    transition: all 200ms ease;
}

.sidebar-container{
    height: 100vh;
    width: 6rem;
    position: fixed;
    z-index: 1;
    margin: 0;
    top:0;
    left: 0;
    background-color: #333456;
    overflow: hidden;
    -webkit-box-shadow: 7px 5px 23px 10px rgba(99, 74, 86, 0.07);
    box-shadow: 7px 5px 23px 10px rgba(99, 74, 86, 0.07);
    transition: width 200ms ease;
}

.sidebar{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin:0 0 0 1rem;
}

.sidebar-container:hover{
    -webkit-box-shadow: 7px 5px 20px 5px rgba(193, 61, 105, 0.15);
    box-shadow: 7px 5px 20px 5px rgba(193, 61, 105, 0.15);
    width: 15rem;
}

.link-text{
    transition: all 200ms;
    display: none;
    margin-left: 1rem;
}
.search{
    display: none;
    background-color: var(--base);
    color: var(--blanco);
    font-size: 20px;
    border: none;
    width: 100%;
    margin-left: 1rem;
}

.sidebar-container:hover .search{
    display: inline;
}

.sidebar-container:hover .link-text{
    display: inline;
}

.sidebar-container:hover ~ main{
    margin-left: 18rem;
}

.logo-main{
    width: 50px;
}

.logo-imagen{
    display: none;
}

.sidebar-container:hover .logo .logo-main{
    display: none;
}

.sidebar-container:hover .logo .logo-imagen{
    display: inline;
}


.nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    transition: all 200ms;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 800;
    margin: 0 1rem 2rem 0;
    padding: 0.5rem;
}

.nav-item:last-child {
    margin-top: auto;
}


.sidebar-container a:hover{
    background-color: var(--producto_hover);
}

.sidebar-container a:active{
    background-color: #b10450;
}

.sidebar-container .logo{
    display: grid;
    place-items: center;
}

.sidebar-container .logo{
    padding: 1rem 0 1.5rem 0;
    outline: none;
    margin-bottom: 1rem;
    height: 3rem;
}
.logo-imagen{

}

.img-logout{
    filter: invert(100%);
    transform: rotate(180deg);
}
.img-login, .img-profile, .img-home, .img-producto, .img-search{
    filter: invert(100%);
}