body{
    background-color: #262626;
    color: #fff;
}
.sidebar{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #171717;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a{
    display: block;
    padding: 0 0 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.sidebar img{
    width: 90%;
    height: 10%;
}
.contenido{
    margin-left: 18%;
}