{% extends "mainCRUD/base.html" %}
{% load static %}
{% block estilo %} {% static 'css/carrito.css' %} {% endblock %}
{% block header %}
    {% if not request.user.is_superuser %}
        {% include "mainCRUD/barra_de_navegacion.html" %}
    {% endif %}
{% endblock %}
{% block cuerpo %}
<div class="carrito-container">
    <table>
            <thead>
                <tr>
                    <th colspan="3">
                        Carro compras
                    </th>
                </tr>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Suma</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carro.items %}
                    {% for key, value in request.session.carro.items %}
                        <tr>
                            <td style="font-size: 1.5rem;">{{value.nombre}}</td>
                            <td class="table-cantidad">{{value.cantidad}}</td>
                            <td>
                                <div class="ag-res">
                                    <form>
                                        <a href="{% url 'carro:agregar' value.id_producto  %}">+</a>
                                        <a href="{% url 'carro:restar' value.id_producto  %}">-</a>
                                        S/.{{ value.precio }}
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div>
                                Sin Productos
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="font-size: 1.5rem;">Total: S/.{{ importe_total_carro }}</td>
                </tr>
            </tfoot>
    </table>
</div>

{% endblock %}
