{% load static %}

{#================= NAVBAR =================#}
<header class="header">
    <a href="http://localhost:8000">
        <img class="logo-barra" src="../../static/image/logo.png" alt="logo market">
    </a>


<article class="buscar">
    <form action="">
        <input type="search" id="input-search" placeholder=" Hola! 🙃 ¿Que estas buscando? " >
        <button class="btn-buscar" type="submit" name="buscar">
            <img src="{% static 'image/search.svg' %}" alt="buscar" class="icon-search"/>
        </button>
    </form>
</article>

<article class="nav-botones">
    {% if request.session.carro.items %}
        {{ request.session.carro.items.len }}
    {% endif %}
    <a href="http://localhost:8000/carro/" class="carrito">
        <img src="../../static/image/carrito-white.svg" class="nav-carrito" alt="carrito">
    </a>

    <a class="nav-login" href="http://localhost:8000/login/" >Login</a>
    <a class="nav-register" href="http://localhost:8000/register/" >Registrarse</a>
</article>

<div class="content-search">
    <div class="content-table">
        <table id="table">
            <thead>
                <tr>
                    <td></td>
                </tr>
            </thead>

            <tbody class="table-body">
                <tr>
                    <td><a href="#">Leche</a></td>
                </tr>

                <tr>
                    <td><a href="#">Chocolate</a></td>
                </tr>

                <tr>
                    <td><a href="#">Gaseosa</a></td>
                </tr>

                <tr>
                    <td><a href="#">Licor</a></td>
                </tr>

                <tr>
                    <td><a href="#">Four loko</a></td>
                </tr>

                <tr>
                    <td><a href="#">uvas</a></td>
                </tr>

                <tr>
                    <td><a href="#">turron</a></td>
                </tr>

                <tr>
                    <td><a href="#">Helado</a></td>
                </tr>

                <tr>
                    <td><a href="#">Frituras</a></td>
                </tr>

                <tr>
                    <td><a href="#">lays</a></td>
                </tr>

                <tr>
                    <td><a href="#">vino</a></td>
                </tr>

                <tr>
                    <td><a href="#">botella</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</header>
<script src="../../static/js/search_form.js"></script>