{% load static %}

{#================= NAVBAR =================#}
<header class="header">
    <a href="http://localhost:8000">
        <img class="logo-barra" src="../../static/image/logo.png" alt="logo market">
    </a>


<article class="buscar">
    <form action="/search" method="get">
        <input type="search" id="input-search" placeholder=" Hola! 🙃 ¿Que estas buscando? " name="search">
        <button class="btn-buscar" type="text" value="{{ request.GET.search }}">
            <img src="{% static 'image/search.svg' %}" alt="search img" class="icon-search"/>
        </button>
    </form>
</article>

<article class="nav-botones">
    <a href="http://localhost:8000/carro/" class="carrito">
        <img src="../../static/image/carrito-white.svg" class="nav-carrito" alt="carrito">
        {% if request.session.carro.items %}
            <span class="badge">
            </span>
        {% endif %}
    </a>
    {% if not request.user.is_authenticated %}
        <a class="nav-login" href="http://localhost:8000/login/" >Login</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <a class="nav-login" href="http://localhost:8000/logout/" >Logout</a>
    {% endif %}
    <a class="nav-register" href="http://localhost:8000/register/" >Registrarse</a>
</article>

<div class="content-search">
    <div class="content-table">
        <table id="table">
            <thead>
                <tr>
                    <td></td>
                </tr>
            </thead>

            <tbody class="table-body">
                <tr>
                    <td><a href="http://localhost:8000/search/?search=Leche">Leche</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Chocolate">Chocolate</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Gaseosa">Gaseosa</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Licor">Licor</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Four+loko">Four loko</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=uvas">uvas</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=turron">turron</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Helado">Helado</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Frituras">Frituras</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=Lays">lays</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=vino">vino</a></td>
                </tr>

                <tr>
                    <td><a href="http://localhost:8000/search/?search=botella">botella</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</header>
<script src="../../static/js/search_form.js"></script>