<!DOCTYPE html>
<html lang="es">
    <head>
{#        <link rel="icon" href="assets/img/icono.ico">#}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block titulo %}𝙈𝘼𝙍𝙆𝙀𝙏{% endblock %}</title>
        <style>
            body{
                background: #262626;
                color: #fff;
                font-size: 4rem;
            }
        </style>
    </head>
    <body>
    {% block cuerpo %}
        base index
    {% endblock %}
    </body>
</html>