{% extends "mainCRUD/head.html" %}
{% load static %}

{% block body %}
    {#================= SCROLL TO TOP =================#}
    <button class="scroll_top"><img src="{% static 'image/up.png '%}" alt="up"></button>
    <script>
        const btn_scroll = document.querySelector('.scroll_top');

        btn_scroll.addEventListener('click', function (){
            window.scrollTo({
                top:0,
                left:0,
                behavior: 'smooth'
            });
        });
    </script>

    {#================= SIDEBAR =================#}
    {% if request.user.is_superuser %}
        <nav class="sidebar-container">

        <ul class="sidebar">
            <li class="nav-item-logo">
                <div class="logo">
                    <a href="http://localhost:8000" class="logo-index">
                        <img class="logo-main" src="{% static 'image/logo_no_text.png'%}" alt="logo sin texto">
                        <img class="logo-imagen" src="{% static 'image/logo.png'%}" alt="logo" width="200px">
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <img class="img-search" src="{% static 'image/search.png'%}" alt="search">
                    <form method="get" action="/search">
                        <input type="text" class="search" placeholder="Search" name="search" value="{{ request.GET.search }}">
                    </form>
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="img-profile" src="{% static 'image/profile.png'%}" alt="profile">
                        <span class="link-text">{{ user.username }}</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/home" id="btn-home">
                        <img class="img-home" src="{% static 'image/home.png' %}" alt="home">
                        <span class="link-text">Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/producto" id="btn-producto" >
                        <img class="img-producto" src="{% static 'image/productos.png' %}" alt="productos">
                        <span class="link-text">Productos</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="btn-login" >
                        <img class="img-logout" src="{% static 'image/login.png' %}" alt="logout">
                        <span class="link-text">Logout</span>
                    </a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/home" id="btn-home">
                        <img class="img-home" src="{% static 'image/home.png' %}" alt="home">
                        <span class="link-text">Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login" id="btn-login" >
                        <img class="img-login" src="{% static 'image/login.png' %}" alt="login">
                        <span class="link-text">Login</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

        {#================= CONTENIDO =================#}
        <main class="contenido">
    {% else %}
    {#================= CONTENIDO =================#}
    <main class="contenido" style="margin-inline: 5rem; !important;">

    {% endif %}
        {% block cuerpo %}
            base
        {% endblock %}
    </main>
    {#================= FOOTER =================#}
    <footer class="footer">
        {% block footer %}
            <div class="footer-container">
                <div class="fila">
                    <h3><a href="http://localhost:8000/" style="color: #fff; text-decoration: none;">SENATI MARKET</a></h3>
                    <p class="text-justify">Proyecto hecho por el grupo
                        <i>MARKET</i>
                        para el desarrollo e implementación de un CRUD con el framework django.
                    </p>
                </div>
                <div class="botones">
                    <a href="#">Sobre Nosotros</a>
                    <a href="http://localhost:8000/producto/">Mantenimiento</a>
                    <a href="https://github.com/Jamir-boop/market-django">GitHub</a>
                </div>
            <div>
                <h5>Todos los derechos reservados</h5>
            </div>
            </div>
        {% endblock %}
    </footer>
    <script type="text/javascript" src="{% static 'js/sidebar_btn.js' %}"></script>

{% endblock %}
