{% extends "mainCRUD/base.html" %}
{% load static %}
{% block estilo %} {% static 'css/index.css' %} {% endblock %}

{% block cuerpo %}
    <div class="load-container">
        <img src="{% static 'image/load.gif' %}" id="load-video" alt="load git">
        <script type="text/javascript">
            function fade(element) {
                var op = 1;  // initial op
                var timer = setInterval(function () {
                    if (op <= 0.1){
                        clearInterval(timer);
                        element.style.display = 'none';
                    }
                    element.style.opacity = op;
                    element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                    op -= op * 0.2;
                }, 150);
            }
            fade(document.getElementById("load-video"));
        </script>
    </div>
    {#================= CATEGORIAS =================#}
    <nav class="nav-categorias">
        <div>
            <h1>TODO MARKET EN UN CLICK</h1>
            <p>
                La calidad de siempre en carnes, abarrotes, frutas, verduras,
                limpieza y más a precios bajos todos los días. Conoce todo
                <a>Supermercado</a>
            </p>
        </div>
        <div class="botones">
            <button data-link="seccion1" class="scrollto" id="btn-embutido" href="#">
                <img src="{% static "image/categoria_embutidos.jpg"%}" alt="embutidos">
                <span>EMBUTIDOS Y LACTEOS</span>
            </button>
            <button data-link="seccion2" class="scrollto" id="btn-snacks" href="#">
                <img src="{% static "image/categoria_piqueos.jpg"%}" alt="snacks">
                <span>SNACKS Y PIQUEOS</span>
            </button>
            <button data-link="seccion3" class="scrollto" id="btn-confiteria" href="#">
                <img src="{% static "image/categoria_confiteria.jpg"%}" alt="confiteria">
                <span>CONFITERIA</span>
            </button>
            <button data-link="seccion4" class="scrollto" id="btn-congelados" href="#">
                <img src="{% static "image/categoria_congelados.jpg"%}" alt="congelados">
                <span>CONGELADOS</span>
            </button>
            <button data-link="seccion5" class="scrollto" id="btn-bebidas" href="#">
                <img src="{% static "image/categoria_bebidas.jpg"%}" alt="bebidas">
                <span>BEBIDAS ALCOHOLICAS</span>
            </button>
        </div>
    </nav>
    <script>
        const links = document.querySelectorAll('.scrollto');

        links.forEach((item) => {
            item.addEventListener('click', function (){
                const adonde = document.getElementById(item.getAttribute("data-link"))
                adonde.scrollIntoView({behavior:"smooth", block:"start"})
            })

        });

    </script>
    <section class="bloque_seccion">
        <div class="wrap">
            <h1 class="titulo_seccion" id="seccion1">EMBUTIDOS Y LACTEOS</h1>

            <div class="contenedor_productos">
            <!-- ========================= Producto ========================= -->
                {% for producto in embutidos %}
                <div class="producto" data-tooltip="{{ producto.prod_descripcion }}">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }});
                            </script>
                        </p>
                        <p class="precio_desc">S/.{{ producto.prod_precio }}
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <!-- ============================================================ -->
            </div>


            <h1 class="titulo_seccion" id="seccion2">SNACKS Y PIQUEOS</h1>

{#            <!-- ========================= Producto ========================= -->#}
            <div class="contenedor_productos">
                {% for producto in snacks %}
                <div class="producto" data-tooltip="{{ producto.prod_descripcion }}">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.{{ producto.prod_precio }}</p>
                        <p class="precio_desc">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }})
                            </script>
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h1 class="titulo_seccion" id="seccion3">CONFITERIA</h1>

{#            <!-- ========================= Producto ========================= -->#}
            <div class="contenedor_productos">
                {% for producto in confiteria %}
                <div class="producto" data-tooltip="{{ producto.prod_descripcion }}">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.{{ producto.prod_precio }}</p>
                        <p class="precio_desc">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }})
                            </script>
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h1 class="titulo_seccion" id="seccion4">CONGELADOS</h1>

{#            <!-- ========================= Producto ========================= -->#}
            <div class="contenedor_productos">
                {% for producto in congelados %}
                <div class="producto" data-tooltip="{{ producto.prod_descripcion }}">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.{{ producto.prod_precio }}</p>
                        <p class="precio_desc">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }})
                            </script>
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h1 class="titulo_seccion" id="seccion5">BEBIDAS ALCOHOLICAS</h1>

{#            <!-- ========================= Producto ========================= -->#}
            <div class="contenedor_productos">
                {% for producto in alcohol %}
                <div class="producto" data-tooltip="{{ producto.prod_descripcion }}">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.{{ producto.prod_precio }}</p>
                        <p class="precio_desc">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }})
                            </script>
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}