{% extends "mainCRUD/base.html" %}
{% load static %}
{% block estilo %} {% static 'css/index.css' %} {% endblock %}

{% block cuerpo %}
    <section class="bloque_seccion">
        <div class="wrap">
            <h1 class="titulo_seccion">RESULTADOS DE BUSQUEDA PARA "{{ queryset }}"</h1>
            {% if result_set %}
                <h3>Se encontraron <b>{{ result_set_len }}</b> productos.</h3>
            {% endif %}
            <div class="contenedor_productos">
            <!-- ========================= Producto ========================= -->
                {% for producto in result_set %}
                <div class="producto">
                    <div class="contenedor_img_prod">
                        <img src="{{ producto.prod_imagen.url }}" alt="imagen producto" class="img_prod" />
                    </div>

                    <div class="informacion_producto">
                        <h6 class="categoria_prod">{{ producto.prod_categoria }}</h6>
                        <h5 class="nombre_prod">{{ producto.prod_nombre|title }}</h5>
                        <p class="precio_prod">S/.{{ producto.prod_precio }}</p>
                        <p class="precio_desc">S/.
                            <span id="{{ producto.id }}"></span>
                            <script type="text/javascript">
                                function precio_inflado(precio){
                                    return (precio + (precio * 10 / 100)).toFixed(2);
                                }
                                document.getElementById("{{ producto.id }}").innerHTML = precio_inflado({{ producto.prod_precio }})
                            </script>
                            <svg width="47" height="20" viewBox="0 0 47 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgicon svgicon-price-tag">
                                <path d="M47 16C47 18.2091 45.2091 20 43 20L10.0715 20C8.96282 20 7.90383 19.5398 7.14732 18.7293L1.54732 12.7293C0.11295 11.1924 0.11295 8.80755 1.54732 7.27072L7.14733 1.27072C7.90383 0.460183 8.96282 -3.32532e-06 10.0715 -3.22839e-06L43 -3.49691e-07C45.2091 -1.56562e-07 47 1.79086 47 4L47 16Z" fill="#019FE1">
                                </path>
                            </svg>
                            <span class="porcentaje">-10%</span>
                        </p>
                    </div>

                    <div class="envio_prod">
                        <img src="{% static 'image/tienda.svg' %}" alt="tienda" class="lugar_prod icon" />
                        <img src="{% static 'image/carrito.svg' %}" alt="carrito" class="delivery_prod icon" />
                        <img src="{% static 'image/delivery.svg' %}" alt="delivery" class="delivery_prod icon" />
                    </div>

                    <div class="btn-container">
                        <div class="wrapp-btn">
                            <form action="/producto_unidad/{{ producto.id }}">
                                <button class="custom-btn btn-compra"><span>Comprar</span></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="travolta-padre">
                        <img class="travolta" src="{% static 'image/404.gif' %}" alt="gif 404">
                    </div>
                {% endfor %}
            <!-- ============================================================ -->
            </div>
        </div>
    </section>

{% endblock %}