{% extends "mainCRUD/base.html" %}
{% block titulo %} Usuario {% endblock %}

{% block cuerpo %}    

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Opcion</th>
            </tr>
        </thead>
        <tbody>
            {% for user in list_usuario %}
            <tr>
                <td>{{ user.usuario_nombre }}</td>
                <td>{{ user.usuario_correo }}</td>
                <td><a href="{% url 'editar_usuario' user.id %}">EDITAR</a> |  <a href="{% url 'editar_usuario' user.id %}">ELIMINAR</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button><a href='/agregar_usuario'>Agregar Usuario</a></button>
{% endblock %}
